/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    .btn{
        @apply p-2 bg-gray-800 text-left;
    }
    .page-card{
        @apply border rounded-lg p-5 flex flex-col items-center justify-center;
    }
    .active{
        @apply text-blue-600 bg-blue-100 rounded-r-3xl;
    }
    .side-bar{
        @apply transition-all ease-linear duration-200 min-w-[260px] hover:scrollbar h-screen hover:overflow-y-scroll bg-white fixed left-0 top-0 text-gray-500;
    }
}
@layer utilities {
    .scrollbar {
        scrollbar-color: red white;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: red;
            border-radius: 5px;
        }
    }
}



